# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv/

# Node
node_modules/
dist/
npm-debug.log

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Ignored Project Folders
frontend-old/
project_documentation/

# Ignored Project Folders
frontend-old/
project_documentation/
